<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/dashboard.css" />
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <div class="container">
      <main>
        <h1 class="welcome">welcome <%= user.name %> to lemon</h1>
        <table>
          <tr>
            <td>TASKS</td>
            <td>STATE</td>
            <td>UPDATE</td>
            <td>DELETE</td>

          </tr>
          <% tasks.forEach(task => { %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.state %></td>

              <td>
              </div>
              <a class="update" href="/update/<%= task._id %>">Update</a>
              <div>
              </td>
              <td>
                <form action="/tasks/<%= task._id %>/delete" method="post">
                  <button class="delete" type="submit">Delete</button>
                </form>
              </td>
            </tr>
          <% }); %>
        </table>
      </main>
    </div>
  </body>
</html>
